body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color:   black;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #30262a;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
}

/* tic-tac-toe */

#tic-tac-toe {
    border: 2px solid white;
}

.title {
    text-align: center;
    font-size: 25px;
}

.cell {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 2px solid white;
    margin: 5px;
    border-radius: 6px;
    text-align: center;
    font-size: 50px;
    vertical-align: top;
}